*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=CSS
*.json linguist-language=JSON
*.html linguist-language=HTML
*.cs linguist-vendored
*.csproj linguist-vendored
node_modules/* linguist-vendored
